<!doctype html>
%html{ :lang => 'en' }
  %head
    %meta{:charset => "utf-8"}

    -# Always force latest IE rendering engine or request Chrome Frame
    %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge,chrome=1"}

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    <!-- Use title if it's in the page YAML frontmatter -->
    %title= current_page.data.title

    = stylesheet_link_tag "screen"
    = javascript_include_tag "all"

  %body
    .container
      = yield

  %footer
    .container
      %p Questions and Scoring from <em>The Impostor Phenomenon: When Success Makes You Feel Like A Fake</em> (pp. 20-22), by P.R. Clance, 1985, Toronto: Bantam Books. Copyright 1985 by Pauline Rose Clance, Ph.D., ABPP. Included by permission. Do not reproduce without permission from Pauline Rose Clance, #{ mail_to "drpaulinerose@comcast.net" }, #{ link_to "www.paulineroseclance.com" }.
      %p Online version created by #{ link_to "Nickolas Means", "http://nickol.as" }, Copyright 2014.

